# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv

# vscode
.vscode/

# Package Folders
data/*
!data/.gitkeep
!data/tickets-template.xlsx
logs/*
!logs/.gitkeep